@charset "UTF-8";

.arrow{animation:down 1.5s ease-in infinite;-webkit-animation:down 1.5s ease-in infinite}
@keyframes up{0%{transform:translateY(40);opacity:0}50%{transform:translateY(20px);opacity:1}100%{transform:translateY(0px);opacity:0}}
@-webkit-keyframes up{0%{-webkit-transform:translateY(40);opacity:0}50%{-webkit-transform:translateY(20px);opacity:1}100%{-webkit-transform:translateY(0px);opacity:0}}
@keyframes down{0%{transform:translateY(0);opacity:0}50%{transform:translateY(-20px);opacity:1}100%{transform:translateY(-40px);opacity:0}}
@-webkit-keyframes down{0%{-webkit-transform:translateY(0);opacity:0}50%{-webkit-transform:translateY(-20px);opacity:1}100%{-webkit-transform:translateY(-40px);opacity:0}}

.arrow{position:absolute;width:10%;bottom:5px;left:45%;}

/*public*/
*{margin:0;padding:0;}
img{display:block;}
html{height:100%;}
body{height:100%;background-color: #fff;}
.swiper-container {width: 100%;height: 100%;}
.swiper-slide {height:100%;position:relative;text-align:center;background:url(../images/bg.png) 50% 0 no-repeat;background-size:cover;background-position:top;}
.music_icon{position:absolute;top:3%;right:5%;width:9%;}
.adv{position:absolute;bottom:5%;right:2%;width:5%;}


.hide{visibility: hidden;}
.show{display: block;}
.baselay{width:100%;}
.overlay{position:absolute;top:0;left:0;width:100%;}

/*page1*/
#page1{background:url(../images/p1_bg.png) 50% 0 no-repeat;background-size:cover;background-position:bottom;}
#page1{z-index: 10;}
.p1_bottom{position:absolute;bottom:0;right:0;width:95%;}
.p1_main{width:72%;margin:0 auto;}
.p1_main div.pic{width:100%;position:relative;}
.p1_main div.text{width:100%;}
.p1_p1{width:100%;}
.p1_p2{width:100%;position:absolute;bottom:0;left:0;}
.p1_t1{width:50%;padding-top:3%;}
.p1_t2{width:100%;padding-top:3%;}

/*page2*/
.p2_p2{position:absolute;top:2%;left:0;width:65%;}

.p2_slogan{position:absolute;width:40%;bottom:30%;right:2%;}
.p2_slogan img.p2_p1{position:absolute;top:-70%;right:-10%;width:70%;}

.p2_main{position:absolute;bottom:0;left:5%;width:65%;}
.p2_main div.top{width:120%;position: absolute;bottom:65%;left:42%;}

/*page3*/
.p3_top{position:absolute;top:2%;left:5%;width:90%;}
.p3_p1{width:100%;}
.p3_slogan{position:absolute;top:25%;left:35%;width:34%;}
.p3_slogan img.p3_p4{position: absolute;left:-52%;top:-43%;width:86%;}
.p3_t2{position:absolute;bottom:27%;left:12%;width:80%;}

.p3_main{position:absolute;bottom:5%;left:5%;width:90%;}
.p3_p3{width:100%;}
.p3_p2{width:50%;margin:0 auto 0;}

/*翻页提示*/
.points1{animation:points1 1s ease-in infinite;-webkit-animation:points1 1s ease-in infinite;}
.points2{animation:points2 1s ease-in infinite;-webkit-animation:points2 1s ease-in infinite;}
.points3{animation:points3 1s ease-in infinite;-webkit-animation:points3 1s ease-in infinite;}
@-webkit-keyframes points1 {
  0% {
    -webkit-transform: scale3d(0.25, 0.25, 0.25);
    transform: scale3d(0.25, 0.25, 0.25);
  }
  33.33% {
    -webkit-transform: scale3d(0.5, 0.5, 0.5);
    transform: scale3d(0.5, 0.5, 0.5);
  }
  66.66% {
    -webkit-transform: scale3d(0.25, 0.25, 0.25);
    transform: scale3d(0.25, 0.25, 0.25);
  }
  100% {
    -webkit-transform: scale3d(0.25, 0.25, 0.25);
    transform: scale3d(0.25, 0.25, 0.25);
  }
}

@keyframes points1 {
  0% {
    -webkit-transform: scale3d(0.25, 0.25, 0.25);
    transform: scale3d(0.25, 0.25, 0.25);
  }
  33.33% {
    -webkit-transform: scale3d(0.5, 0.5, 0.5);
    transform: scale3d(0.5, 0.5, 0.5);
  }
  66.66% {
    -webkit-transform: scale3d(0.25, 0.25, 0.25);
    transform: scale3d(0.25, 0.25, 0.25);
  }
  100% {
    -webkit-transform: scale3d(0.25, 0.25, 0.25);
    transform: scale3d(0.25, 0.25, 0.25);
  }
}



