@charset "UTF-8";

/*public*/
*{font-family:"Arial","黑体"; }
.left{float: left;}
.right{float:right;}
.whitebg{background-color: #fff;}
.tmbg{background-color: rgba(255,255,255, 0.38)!important;;}
img{display:block;margin:0;padding:0;}

.arrow{animation:down 1.5s ease-in infinite;-webkit-animation:down 1.5s ease-in infinite}
@keyframes up{0%{transform:translateY(40);opacity:0}50%{transform:translateY(20px);opacity:1}100%{transform:translateY(0px);opacity:0}}
@-webkit-keyframes up{0%{-webkit-transform:translateY(40);opacity:0}50%{-webkit-transform:translateY(20px);opacity:1}100%{-webkit-transform:translateY(0px);opacity:0}}
@keyframes down{0%{transform:translateY(0);opacity:0}50%{transform:translateY(-20px);opacity:1}100%{transform:translateY(-40px);opacity:0}}
@-webkit-keyframes down{0%{-webkit-transform:translateY(0);opacity:0}50%{-webkit-transform:translateY(-20px);opacity:1}100%{-webkit-transform:translateY(-40px);opacity:0}}
.arrow{position:absolute;width:10%;bottom:5px;left:45%;}

.hide{display: none;}
.show{display: block;}
body{background-color: #fff;}
div.top{position:absolute;top:0;left:0;width:100%;z-index: 0;}
div.bottom{position:absolute;bottom:0;left:0;width:100%;z-index: 0;}

#page1,#page2,#page3{background:url(../images/bg.png) 50% 0 no-repeat;background-size:cover;background-position:bottom;text-align:center;position:relative;}

/*page1*/
.p1_banner{width:100%;}
.p1_text{width:75%;margin:0 auto;z-index: 1;}
.p1_bottom_bg{width:100%;}
.p1_bottom_content{position:absolute;top:30%;left:20%;;width:60%;}

/*page2*/
.p2_top_bg{width:100%;}
.p2_top_content{height:45%;position: absolute;left:49%;top:15%;}
.p2_left{position:absolute;left:0;top:12%;height:65%;}
.p2_left_p1{position:absolute;top:0;left:0;height:100%;}
.p2_left_bg{position:absolute;top:0;left:0;height:100%;}
.p2_right{position:absolute;right:0;top:17%;height:56%;}
.p2_bottom_p{width:100%;}
.p2_bottom_bg{width:100%;position:absolute;top:0;left:0;}

.p2_text1{position:absolute;left:25%;top:45%;width:50%;}
.p2_block{position:absolute;left:25%;top:30%;width:50%;}
.p2_text_p{width:100%;}
.p2_text_bg{width:100%;position:absolute;top:0;left:0;}

/*page3*/
.p3_block{position:absolute;top:20%;left:19%;width:62%;}
.p3_block div.part1{width:48%;padding-right:50%;text-align:right;}
.p3_block div.part2{width:55%;padding-left:45%;text-align:left;padding-top:3%;}
.p3_block div.part1 img,.p3_block div.part2 img{width:100%;padding-top:5%;}
.p3_sub{padding-bottom:2%;}
.p3_logo{width:20%;margin:10% 0 0 38%;}
