@charset "UTF-8";

/*public*/
*{font-family:"Arial","黑体"; }
.left{float: left;}
.right{float:right;}
.whitebg{background-color: #fff;}
.tmbg{background-color: rgba(255,255,255, 0.38)!important;;}
img{display:block;margin:0;padding:0;}

.arrow{animation:down 1.5s ease-in infinite;-webkit-animation:down 1.5s ease-in infinite}
@keyframes up{0%{transform:translateY(40);opacity:0}50%{transform:translateY(20px);opacity:1}100%{transform:translateY(0px);opacity:0}}
@-webkit-keyframes up{0%{-webkit-transform:translateY(40);opacity:0}50%{-webkit-transform:translateY(20px);opacity:1}100%{-webkit-transform:translateY(0px);opacity:0}}
@keyframes down{0%{transform:translateY(0);opacity:0}50%{transform:translateY(-20px);opacity:1}100%{transform:translateY(-40px);opacity:0}}
@-webkit-keyframes down{0%{-webkit-transform:translateY(0);opacity:0}50%{-webkit-transform:translateY(-20px);opacity:1}100%{-webkit-transform:translateY(-40px);opacity:0}}
.arrow{position:absolute;width:10%;bottom:5px;left:45%;}

.hide{visibility: hidden;}
.show{display: block;}
.baselay{width:100%;}
.overlay{position:absolute;top:0;left:0;width:100%;}

body{background-color: #fff;}
div.top{position:absolute;top:0;left:0;width:100%;z-index: 0;}
div.bottom{position:absolute;bottom:0;left:0;width:100%;z-index: 0;}



#page1,#page2,#page3,#page4,#page5,#page6{background:url(../images/bg.png) 50% 0 no-repeat;background-size:cover;background-position:bottom;text-align:center;position:relative;}

/*page1*/
.p1_banner{width:100%;position:absolute;top:0;left:0;}
.p1_text{width:74%;z-index: 1;position:absolute;top:64%;left:13%;}
.p1_bottom_content{position:absolute;top:30%;left:20%;;width:60%;}
#p1_next{top:25%;left:48%;width:4%;}


/*page2*/
.p2_top_content{height:45%;position: absolute;left:49%;top:15%;}
.p2_left{position:absolute;left:0;top:12%;height:65%;}
.p2_left_p1{position:absolute;top:0;left:0;height:100%;}
.p2_left_bg{position:absolute;top:0;left:0;height:100%;}
.p2_right{position:absolute;right:0;top:17%;height:56%;}

.p2_text1{position:absolute;left:25%;top:45%;width:50%;}
.p2_block{position:absolute;left:25%;top:30%;width:50%;}
#p2_next{bottom:0;left:46%;width:8%;}
#p2_next li img{background-color: #cdaba7;}


/*page3*/
.p3_block{position:absolute;top:20%;left:19%;width:62%;}
.p3_block div.part1{width:48%;padding-right:50%;text-align:right;}
.p3_block div.part2{width:55%;padding-left:45%;text-align:left;padding-top:3%;}
.p3_block div.part1 img,.p3_block div.part2 img{width:100%;padding-top:5%;}
.p3_sub{padding-bottom:2%;}
.p3_logo{width:20%;margin:10% 0 0 38%;}
.p3_remark{position:absolute;right:3%;bottom:9%;width:45%;}
#p3_next{position:relative;margin:5% auto 0;display: block;}
#p3_next{width:6%;}
#p3_next li img{background-color: #cdaba7;}


/*page4*/
.p4_top{position:absolute;left:0;top:0;width:70%;}
.p4_right{position:absolute;right:0;bottom:0;height:100%;}
.p4_bottom{position:absolute;left:0;bottom:0;width:45%;}
.p4_bottom img.p4_t3{position:absolute;top:25%;left:10%;width:63%;}
.p4_content{position:absolute;top:13%;left:8%;width:50%;}
.p4_content div.title{width:100%;}
.p4_content div.text{width:60%;position:relative;margin-top:10%;}
#p4_next{bottom:2%;left:48%;width:4%;}


/*page5*/
.p5_top{position:absolute;left:0;top:0;width:30%;}
.p5_right{position:absolute;right:0;top:30%;height:40%;}
.p5_bottom{position:absolute;right:0;bottom:0;height:23%;}
.p5_logo{position:absolute;left:2%;bottom:2%;width:38%;}

.p5_block{position:absolute;right:5%;top:6%;width:72%;;}
.p5_title{width:72%;margin-left:28%;position:relative;}
.xline{border-bottom: 1px solid #a49786;width:100%;padding-top:3%;}
.p5_content{width:65%;}
.p5_content img{width:100%;padding-top:8%;}
#p5_next{position:relative;margin:5% auto 0;display: block;}
#p5_next{width:8%;}
#p5_next li img{background-color: #cdaba7;}


/*page6*/
.p6_top{position:absolute;left:0;top:0;width:100%;}
.p6_left{position:absolute;left:0;top:42%;height:45%;}
.p6_right{position:absolute;right:0;top:38%;height:55%;}
.p6_bottom{position:absolute;left:0;bottom:0;width:100%;}
.p6_content{position:absolute;left:30%;top:38%;width:40%;text-align:center;}
.p6_content img{margin:0 auto;}
.p6_content img.text{width:85%;}
.p6_content img.btn{width:100%;padding-top:15%;}
.p6_content img.dept{width:90%;padding-top:5%;}
.p6_content img.logo{width:140%;padding-top:15%;margin-left:-20%;}


/*翻页提示*/
ul.next{position:absolute;padding:0;margin:0;display: block;}
ul.next li{width:100%;list-style: none;margin:0;padding:30% 0;display:block;}
ul.next li img{border-radius: 50%;background-color: #fff;margin:0 auto;width:100%;}

.points1{animation:points1 1s ease-in infinite;-webkit-animation:points1 1s ease-in infinite;}
.points2{animation:points2 1s ease-in infinite;-webkit-animation:points2 1s ease-in infinite;}
.points3{animation:points3 1s ease-in infinite;-webkit-animation:points3 1s ease-in infinite;}
@-webkit-keyframes points1 {
  0% {
    -webkit-transform: scale3d(0.25, 0.25, 0.25);
    transform: scale3d(0.25, 0.25, 0.25);
  }
  33.33% {
    -webkit-transform: scale3d(0.5, 0.5, 0.5);
    transform: scale3d(0.5, 0.5, 0.5);
  }
  66.66% {
    -webkit-transform: scale3d(0.25, 0.25, 0.25);
    transform: scale3d(0.25, 0.25, 0.25);
  }
  100% {
    -webkit-transform: scale3d(0.25, 0.25, 0.25);
    transform: scale3d(0.25, 0.25, 0.25);
  }
}

@keyframes points1 {
  0% {
    -webkit-transform: scale3d(0.25, 0.25, 0.25);
    transform: scale3d(0.25, 0.25, 0.25);
  }
  33.33% {
    -webkit-transform: scale3d(0.5, 0.5, 0.5);
    transform: scale3d(0.5, 0.5, 0.5);
  }
  66.66% {
    -webkit-transform: scale3d(0.25, 0.25, 0.25);
    transform: scale3d(0.25, 0.25, 0.25);
  }
  100% {
    -webkit-transform: scale3d(0.25, 0.25, 0.25);
    transform: scale3d(0.25, 0.25, 0.25);
  }
}

@-webkit-keyframes points2 {
  0% {
    -webkit-transform: scale3d(0.5, 0.5, 0.5);
    transform: scale3d(0.5, 0.5, 0.5);
  }
  33.33% {
    -webkit-transform: scale3d(0.5, 0.5, 0.5);
    transform: scale3d(0.5, 0.5, 0.5);
  }
  66.66% {
    -webkit-transform: scale3d(0.75, 0.75, 0.75);
    transform: scale3d(0.75, 0.75, 0.75);
  }
  100% {
    -webkit-transform: scale3d(0.5, 0.5, 0.5);
    transform: scale3d(0.5, 0.5, 0.5);
  }
}

@keyframes points2 {
  0% {
    -webkit-transform: scale3d(0.5, 0.5, 0.5);
    transform: scale3d(0.5, 0.5, 0.5);
  }
  33.33% {
    -webkit-transform: scale3d(0.5, 0.5, 0.5);
    transform: scale3d(0.5, 0.5, 0.5);
  }
  66.66% {
    -webkit-transform: scale3d(0.75, 0.75, 0.75);
    transform: scale3d(0.75, 0.75, 0.75);
  }
  100% {
    -webkit-transform: scale3d(0.5, 0.5, 0.5);
    transform: scale3d(0.5, 0.5, 0.5);
  }
}

@-webkit-keyframes points3 {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  33.33% {
    -webkit-transform: scale3d(0.75, 0.75, 0.75);
    transform: scale3d(0.75, 0.75, 0.75);
  }
  66.66% {
    -webkit-transform: scale3d(0.75, 0.75, 0.75);
    transform: scale3d(0.75, 0.75, 0.75);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

@keyframes points3 {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  33.33% {
    -webkit-transform: scale3d(0.75, 0.75, 0.75);
    transform: scale3d(0.75, 0.75, 0.75);
  }
  66.66% {
    -webkit-transform: scale3d(0.75, 0.75, 0.75);
    transform: scale3d(0.75, 0.75, 0.75);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}


