@charset "UTF-8";

/*public*/
*{font-family:"Arial","黑体"; }
.left{float: left;}
.right{float:right;}
.whitebg{background-color: #fff;}
.tmbg{background-color: rgba(255,255,255, 0.38)!important;;}

.arrow{animation:up 1.5s ease-in infinite;-webkit-animation:up 1.5s ease-in infinite}
@keyframes up{0%{transform:translateY(0);opacity:0}50%{transform:translateY(20px);opacity:1}100%{transform:translateY(40px);opacity:0}}
@-webkit-keyframes up{0%{-webkit-transform:translateY(0);opacity:0}50%{-webkit-transform:translateY(20px);opacity:1}100%{-webkit-transform:translateY(40px);opacity:0}}
.arrow{position:absolute;width:10%;bottom:40px;left:45%;}
/*page1*/
#page1{background:url(../images/p1_bg.png) 50% 0 no-repeat;background-size:cover;background-position:bottom;text-align:center;position:relative;}
#page1 div.main{width:90%;margin:0 auto 0;padding-top:5%;position:relative;z-index: 10;}
#page1 div.main img{display:block;}
#page1 div.content{width:80%;padding:0 10%;}
#p1_logo{width:95%;}
#p1_title{width:45%;margin-top:18px;}
#p1_t1{width:52%;margin-top:13px;}
#p1_t2{width:50%;margin-top:5px;}
#p1_t3{width:76%;margin-top:13px;}
#p1_t4{width:74%;margin-top:5px;}
#p1_t5{width:100%;margin-top:13px;}
#p1_t6{width:98%;margin-top:5px;}

#p1_p1{width:35%;position:absolute;left:12%;bottom:0;z-index: 1;}
#p1_p2{width:35%;position:absolute;right:10%;bottom:10%;z-index: 1;}

/*page2*/
#page2{background:#fff;background-size:cover;background-position:top;text-align:center;position:relative;}
#page2 img{display:block;}
.p2_logo{width:85%;margin:0 auto;padding-top:8%;z-index: 100;}
div.content-block{width:100%;margin-top:25px;position:relative;}
.p2_bgimg{width:155%;margin-left:-47%;}
.p2_title{width:21.6%;z-index: 10;position: absolute;top:0;left:18%;}
/*#p2_title{width:21.6%;padding-top:50%;padding-left:18%;}*/

/*page3*/
#page3{background:url(../images/p3_bg.png) 50% 0 no-repeat;background-size:cover;background-position:bottom;text-align:center;position:relative;}
#p3_title{position:absolute;width:80%;left:10%;top:4%;}
#p3_logo1{position:absolute;width:40%;right:4%;top:13%;}
#p3_p4{position:absolute;width:44%;left:6%;top:11%;}
#p3_p1{position:absolute;width:44%;right:0;top:27%;}
#p3_logo2{position:absolute;width:40%;left:10%;top:49%;}
#page3 div.content{position:absolute;width:74%;left:10%;top:62%;z-index: 10;}
#page3 div.content img{display:block;padding:5px 0;}
#p3_t1{width:100%;}
#p3_t2{width:73%;}
#p3_t3{width:61%;}
#p3_p2{position:absolute;width:48%;right:2%;top:70%;}
#p3_p3{position:absolute;width:20%;left:7%;bottom:0;}