					<include file="Index/header" />	
					<script>
						$(document).ready(function(){
							$("[name='my-checkbox']").bootstrapSwitch();
							$('#type-input').hide();
							$('#from-input').hide();
							$('#outsourcing-input').hide();
							$('#execute-input').hide();
							
							//switch切换
							$("[name='my-checkbox']").on('switchChange.bootstrapSwitch', function(event, state) {
								if(state){
									$(this).parents('.form-group').find("input[type='text']").hide();
									$(this).parents('.form-group').find("select").show();
								}else{
									$(this).parents('.form-group').find("input[type='text']").show();
									$(this).parents('.form-group').find("select").hide();
								}
							});
							
							$("form").submit(function (){
								var param={};
								param.name=$("#name").val();
								param.type=$('#type-switch').bootstrapSwitch('state')?$('#type-select').val():$('#type-input').val();
								param.pfrom=$('#from-switch').bootstrapSwitch('state')?$('#from-select').val():$('#from-input').val();
								param.status=$("#status").val();
								param.amount=$("#amount").val();
								param.outsourcing=$('#outsourcing-switch').bootstrapSwitch('state')?$('#outsourcing-select').val():$('#outsourcing-input').val();
								param.cost=$("#cost").val();
								param.execute=$('#execute-switch').bootstrapSwitch('state')?$('#execute-select').val():$('#execute-input').val();
								param.remark=$("#remark").val();
								console.log(param);
								$.ajax({
					                type: "POST",
					                url:'__URL__/submit',
					                data:param,
					                dataType:'json',
					                async: false,
					                error: function(request){
					                    alert("服务器连接错误！");
					                },
					                success: function(r) {
					                	if(r==1){
					                		window.location.href="{:U('plist')}";
					                	}else{
						                	alert(r);
					                	}
					                }
					            });
								
								return false;
							});
						});
					</script>
					<div class="panel panel-default">
						<div class="panel-heading">
							<h3 class="panel-title">新增项目</h3>
						</div>
						<div class="panel-body">

							<form class="form-horizontal">
								<div class="form-group">
									<label for="name" class="col-sm-1 control-label">名称</label>
									<div class="col-sm-2">
										<input type="text" class="form-control" id="name" placeholder="">
									</div>
								</div>
								<div class="form-group">
									<label for="type" class="col-sm-1 col-xs-12 control-label">类别</label>
									<div class="col-sm-2 col-xs-6">
										<input type="text" class="form-control" id="type-input" placeholder="">
										<select class="form-control" id="type-select">
											<volist name="typelist" id="typelist">
												<option>{$typelist.type}</option>
											</volist>
										</select>
									</div>
									<div class="col-sm-2 col-xs-6">
										<input type="checkbox"  name="my-checkbox" checked data-on-text="选择" data-off-text="新增" id="type-switch"/>
									</div>
								</div>
								<div class="form-group">
									<label for="from-input" class="col-sm-1 col-xs-12 control-label">来源</label>
									<div class="col-sm-2 col-xs-6">
										<input type="text" class="form-control" id="from-input" placeholder="">
										<select class="form-control" id="from-select">
											<volist name="fromlist" id="fromlist">
												<option>{$fromlist.pfrom}</option>
											</volist>
										</select>
									</div>
									<div class="col-sm-2 col-xs-6">
										<input type="checkbox"  name="my-checkbox" checked data-on-text="选择" data-off-text="新增" id="from-switch"/>
									</div>
								</div>
								<div class="form-group">
									<label for="status" class="col-sm-1 control-label">状态</label>
									<div class="col-sm-2">
										<select class="form-control" id="status">
											<volist name="statuslist" id="statuslist">
												<option>{$statuslist}</option>
											</volist>
										</select>
									</div>
								</div>
								<div class="form-group">
									<label for="amount" class="col-sm-1 control-label">金额</label>
									<div class="col-sm-2">
										<input type="text" class="form-control" id="amount" placeholder="" value="0">
									</div>
								</div>
								<div class="form-group">
									<label for="outsourcing-input" class="col-sm-1 col-xs-12 control-label">外包方</label>
									<div class="col-sm-2 col-xs-6">
										<input type="text" class="form-control" id="outsourcing-input" placeholder="">
										<select class="form-control" id="outsourcing-select">
											<volist name="outsourcinglist" id="outsourcinglist">
												<option>{$outsourcinglist.outsourcing}</option>
											</volist>
										</select>
									</div>
									<div class="col-sm-2 col-xs-6">
										<input type="checkbox"  name="my-checkbox" checked data-on-text="选择" data-off-text="新增" id="outsourcing-switch"/>
									</div>
								</div>
								<div class="form-group">
									<label for="cost" class="col-sm-1 control-label">成本</label>
									<div class="col-sm-2">
										<input type="text" class="form-control" id="cost" placeholder="" value="0">
									</div>
								</div>
								<div class="form-group">
									<label for="execute-input" class="col-sm-1 col-xs-12 control-label">执行人</label>
									<div class="col-sm-2 col-xs-6">
										<input type="text" class="form-control" id="execute-input" placeholder="">
										<select class="form-control" id="execute-select">
											<volist name="executelist" id="executelist">
												<option>{$executelist.execute}</option>
											</volist>
										</select>
									</div>
									<div class="col-sm-2 col-xs-6">
										<input type="checkbox"  name="my-checkbox" checked data-on-text="选择" data-off-text="新增"  id="execute-switch"/>
									</div>
								</div>
								<div class="form-group">
									<label for="remark" class="col-sm-1 control-label">备注</label>
									<div class="col-sm-2">
										<textarea class="form-control" rows="3" id="remark"></textarea>
									</div>
								</div>
								
								<div class="form-group">
									<div class="col-sm-offset-1 col-sm-2">
										<button type="submit" class="btn btn-default">
											确认提交
										</button>
									</div>
								</div>
							</form>
						</div>
					</div>
					<include file="Index/footer" />	