<include file="System/header" />
<style>
	.manu{padding:3px;margin:3px;text-align:center;}
	.manu a{border:#eee 1px solid;padding:2px 5px;margin:2px;color:#036cb4;text-decoration:none;}
	.manu a:hover{border:#999 1px solid;color:#666;}
	.manu a:active{border:#999 1px solid;color:#666;}
	.manu .current{border:#036cb4 1px solid;padding:2px 5px;font-weight:bold;margin:2px;color:#fff;background-color:#036cb4;}
	.manu .disabled{border:#eee 1px solid;padding:2px 5px;margin:2px;color:#ddd;}
</style>
<script>
	$(document).ready(function() {

		$('#addModal').on('shown.bs.modal', function() {
			$('#add_username').focus();
		});

		//添加主播表单提交
		$("form[name='addForm']").submit(function() {
			var param = {};
			param.username = $("#add_username").val();
			param.nickname = $("#add_nickname").val();
			param.power = $("#add_power").val();
			console.log(param);
			$.ajax({
				type : "POST",
				url : '__URL__/reader_add',
				data : param,
				dataType : 'json',
				async : false,
				error : function(request) {
					alert("服务器连接错误！");
				},
				success : function(r) {
					if (r == 1) {
						location.reload();
					} else {
						alert(r);
					}
				}
			});
			return false;
		});

		//编辑主播表单提交
		$("form[name='updateForm']").submit(function() {
			// $('#tallyModal').modal('hide');
			var param = {};
			param.rid = $("#update_rid").val();
			param.nickname = $("#update_nickname").val();
			param.power = $("#update_power").val();
			console.log(param);
			$.ajax({
				type : "POST",
				url : '__URL__/reader_update',
				data : param,
				dataType : 'json',
				async : false,
				error : function(request) {
					alert("服务器连接错误！");
				},
				success : function(r) {
					if (r == 1) {
						location.reload();
					} else {
						alert(r);
					}
				}
			});
			return false;
		});
	});

	function deleteReader(rid) {
		if (confirm("确认删除？")) {
			var param = {};
			param.rid = rid;
			$.ajax({
				type : "POST",
				url : '__URL__/reader_delete',
				data : param,
				dataType : 'json',
				async : false,
				error : function(request) {
					alert("服务器连接错误！");
				},
				success : function(r) {
					if(r==1){
						location.reload();
					}else{
						alert(r);
					}
				}
			});
		}
	}
	
	function showUpdateModal(e){
		$("#update_rid").val($(e).parents("tr").find("td[name='rid']").text());
		$("#update_username").val($(e).parents("tr").find("td[name='username']").text());
		$("#update_nickname").val($(e).parents("tr").find("td[name='nickname']").text());
		$("#update_power").val($(e).parents("tr").find("td[name='power']").text());
	}
	
</script>
<div class="panel panel-default">
	<div class="panel-heading">
		<h3 class="panel-title">主播列表
			<button type="button" class="btn btn-primary btn-xs pull-right" data-toggle="modal" data-target="#addModal">
				添加主播
			</button>
		</h3>
	</div>
	<div class="panel-body">
		<table class="table table-striped table-hover">
			<thead>
				<th>昵称</th>
				<th>权限</th>
				<th>EXP</th>
				<th>编辑</th>
				<th>删除</th>
				<!-- <th class="hidden-xs">权限</th> -->
			</thead>
			<tbody>
				<volist name="list" id="list">
					<tr>
						<!-- 隐藏数据 -->
						<td name="rid" class="hide">{$list.rid}</td>
						<td name="username" class="hide">{$list.username}</td>
						<td name="power" class="hide">{$list.power}</td>
						
						<td name="nickname">{$list.nickname}</td>
						<td>{$list.text}</td>
						<td>{$list.exp}</td>
						<td>
							<button type="button" class="btn btn-info btn-xs " data-toggle="modal" data-target="#updateModal" onclick="showUpdateModal(this)">
								编辑
							</button>
						</td>
						<td><a class="btn btn-danger btn-xs " onclick="deleteReader({$list.rid})">删除</a></td>
					</tr>
				</volist>
			</tbody>
		</table>
		<nav class="text-center">
			<div class="manu">
				{$page}
			</div>
		</nav>
	</div>
</div>

<!-- 添加弹出框 -->
<div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				<h4 class="modal-title" id="exampleModalLabel">添加主播</h4>
			</div>
			<form name="addForm">
				<div class="modal-body">
					<div class="form-group">
						<label for="add_username" class="control-label">用户名:</label>
						<input type="text" class="form-control" id="add_username" placeholder="建议采用昵称拼音，并注意唯一性">
					</div>
					<div class="form-group">
						<label for="add_nickname" class="control-label">昵称:</label>
						<input type="text" class="form-control" id="add_nickname" placeholder="建议采用姓名">
					</div>
					<div class="form-group">
						<label for="add_power" class="control-label">权限:</label>
						<select class="form-control" id="add_power">
							<volist name="powerlist" id="vo">
								<option value="{$vo.value}">{$vo.text}</option>
							</volist>
						</select>
					</div>
					<p>
						注：账号添加后，默认密码为111111，且仅有权限为管理员及信息维护员可登陆该系统。
					</p>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">
						关闭
					</button>
					<button type="submit" class="btn btn-primary">
						确认提交
					</button>
				</div>
			</form>
		</div>
	</div>
</div>

<!-- 编辑弹出框 -->
<div class="modal fade" id="updateModal" tabindex="1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				<h4 class="modal-title">编辑主播</h4>
			</div>
			<form name="updateForm">
				<div class="modal-body">
					<div class="form-group">
						<label for="update_username" class="control-label">用户名:</label>
						<input type="text" class="form-control" id="update_username" disabled="disabled">
						<input type="text" class="form-control hide" id="update_rid" disabled="disabled">
					</div>
					<div class="form-group">
						<label for="update_nickname" class="control-label">昵称:</label>
						<input type="text" class="form-control" id="update_nickname" placeholder="建议采用姓名">
					</div>
					<div class="form-group">
						<label for="update_power" class="control-label">权限:</label>
						
						<select class="form-control" id="update_power">
							<volist name="powerlist" id="vo1">
								<option value="{$vo1.value}">{$vo1.text}</option>
							</volist>
						</select>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">
						关闭
					</button>
					<button type="submit" class="btn btn-primary">
						确认提交
					</button>
				</div>
			</form>
		</div>
	</div>
</div>

<include file="System/footer" />
