@charset "utf-8";

* {margin:0; padding:0; font-size:14px;font-family:"Arial","微软雅黑";color: #fff;}
.left{float:left;}
.right{float:right;}

/*page1*/
#start{background:url(../images/start_bg.jpg) 50% 0 no-repeat;background-size:cover;}
.startBtn-group{text-align: center;margin:400px auto 0;width:40%;}
.startBtn-group img.start_btn{width:100%;}
.startBtn-group img.rule_btn{width:50%;}
.rule-mask{position:absolute;top:0;left:0;background:rgba(0, 0, 0, 0.68)!important;width:100%;height:100%;text-align: center;display: none;}
.rule-mask h1{font-size:24px;margin-top:50px;}
.rule-mask ol{width:80%;margin:20px 5% 0 15%;}
.rule-mask ol li{text-align:left;font-size: 20px;padding:3px 0;text-align: justify;letter-spacing:2px;}
.rule-mask img{width:50%;margin-top:30px;}
#start div.imgstore{display:none;}

/*page2*/
#game{position:relative;background:url(../images/game_bg.png) 50% 0 no-repeat;background-size:cover;}
#game-head{background: url(../images/game_top_bg.png);padding-bottom:1%;}
#game-head div.top{height:50px;overflow: hidden;width:83%;padding:2% 2% 0 15%;}
#game-head div.top img{height:100%;display: inline-block;border: 0;}
#game-head div.top img.sec{height:60%;}
#game-head div.top img.logo{float:right;}
#game-head div.timeBar{width:85%;margin:0 auto;position:relative;}
#game-head div.timeBar img{width:100%;}
#game-head div.timeBar div.meterBar{position:absolute;top:7px;left:5%;width:93%;height:3px;}
#game-head div.timeBar div.meterBar span{background-color: #ee7a03;display: block;height:100%;}

#main{width: 100%;z-index: 10;position:relative;margin-top:12px;}
#main table {margin:0px auto;border-collapse:collapse;width: 90%;}
#main table tr{text-align:center;}
#main table td {width:14%;height:14%;border:1px solid #869299;border-collapse:collapse;text-align:center;padding:2px;position:relative;}
#main table td img.icon {cursor:pointer;width:100%;}
#main table td img.wrap {position: absolute;top:-20%;left:-20%;width:140%;display: none;}
#game img.bar{width:100%;display: block;height:5px;}
img.bottom{position:absolute;width:100%;bottom:0;z-index: 1;}

.result-mask{position:absolute;top:30%;left:0;background:rgba(0, 0, 0, 0.68)!important;width:100%;z-index: 100;padding:40px 0;display:none;}
.result-mask h1{margin:0 auto;width:80%;font-size:28px;text-align:center;}
.result-mask div.inputForm{width:80%;margin:15px auto 0;}
.result-mask div.inputForm p{font-size:16px;}
.result-mask p.hint{width:80%;font-size:16px;margin:20px auto 0;display:none;}
.game-btns{overflow:hidden;width:85%;margin:40px auto 0;}
.game-btns img{width:45%;}


/*page3*/
#prize1{background:url(../images/prize_bg.jpg) 50% 0 no-repeat;background-size:cover;}
.prize-box{width:80%;margin:30px auto 0;}
.prize-box h1{font-size:20px;font-weight: normal;text-align: justify;}
.prize-box img.share_btn{width:100%;margin-top:20px;}

#shareMask{position:fixed;width:90%;height:2000px;top:0;left:0;text-align:right;padding-right:10%;background:rgba(0, 0, 0, 0.38)!important;z-index: 100;display: none;}
#shareMask img{display: inline-block;width:25%;}
#shareMask p{text-align:right;margin:0;}

/*page4*/
#prize2{background:url(../images/prize_bg.jpg) 50% 0 no-repeat;background-size:cover;}
.twoBtns{overflow:hidden;width:100%;margin:20px auto 0;}
.twoBtns img{width:45%;}

#showScore{background:url(../images/game_bg.png) 50% 0 no-repeat;background-size:cover;text-align:center;}
#showScore p{margin:30% auto;font-size:30px;color:#fff;}
#showScore a{text-decoration: none;}
#showScore div.btn{font-size:30px;padding:8px;background-color: #f1a165;width:50%;margin:30px auto;border-radius: 20px;color: #fff;}
